@using Client.Pages.Reports

<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudIconButton OnClick="DrawerToggleCallback" Icon="@Icons.Material.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start"/>
    <MudSpacer/>
    <NavLink ActiveClass="d-flex" href="/">
        <AppIcon/>
    </NavLink>    
    <MudSpacer/>
    <ConnectionBar/>    
</MudHidden>
<MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
    <NavLink ActiveClass="d-flex me-4" href="/">
        <AppIcon />
@*         <MudText Color="Color.Primary" Typo="Typo.h5" Class="docs-brand-text">
            AlKaita G.E 
        </MudText> *@
    </NavLink>
    <AuthorizeView>

    </AuthorizeView>
    <MudButton Href="/dashboard" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("dashboard")" Variant="Variant.Text">Dashboard</MudButton>
    <MudButton Href="/customers" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("customers")" Variant="Variant.Text">Customers</MudButton>
    <MudMenu @ref="_menuCP" Color="Color.Inherit" Variant="Variant.Text" Class="mx-1 px-3" PopoverClass="docs-layout-menu-shadow" ListClass="d-flex px-4 pb-2 docs-appbar-special-menu" LockScroll="true" Label="Items" EndIcon="@Icons.Filled.KeyboardArrowDown" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
        <MudList Clickable="true">
            <MudListSubheader>
                Items
            </MudListSubheader>
            <MudListItem OnClick="@(() => Nav("categories", "items"))">
                <div class="d-flex">
                    <MudText Color="Color.Secondary">Categories</MudText>
                </div>
                <MudText Typo="Typo.body2">Manage Categories</MudText>
            </MudListItem>
            <MudListItem OnClick="@(() => Nav("products", "items"))">
                <div class="d-flex">
                    <MudText Color="Color.Surface">Products</MudText>
                </div>
                <MudText Typo="Typo.body2">Manage Products</MudText>
            </MudListItem>            
        </MudList>
    </MudMenu>
    <MudMenu @ref="_menuLabs" Color="Color.Inherit" Variant="Variant.Text" Class="mx-1 px-3" PopoverClass="docs-layout-menu-shadow" ListClass="d-flex px-4 pb-2 docs-appbar-special-menu" LockScroll="true" Label="Lab" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
        <MudList Clickable="true">
            <MudListSubheader>
                Lab
            </MudListSubheader>
            <MudListItem OnClick="@(() => Nav("services", "labs"))">
                <div class="d-flex">
                    <MudText Color="Color.Secondary">Services</MudText>
                </div>
                <MudText Typo="Typo.body2">Manage Lab Services</MudText>
            </MudListItem>
            @* <MudListItem OnClick="@(() => Nav("orders", "labs"))">
                <div class="d-flex">
                    <MudText Color="Color.Primary">Orders</MudText>
                </div>
                <MudText Typo="Typo.body2">Manage Orders</MudText>
            </MudListItem> *@
        </MudList>
        <MudList Clickable="true" Class="relative">
            <MudListSubheader>
                Diagnosis
            </MudListSubheader>
            <MudListItem OnClick="@(() => Nav("diagnosis", "labs"))">
                <div class="d-flex">
                    <MudText Color="Color.Dark">Diagnosis</MudText>
                </div>
                <MudText Typo="Typo.body2">Manage Test Diagnosis</MudText>
            </MudListItem>
        </MudList>
    </MudMenu>
    <MudButton Href="/orders" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("orders")" Variant="Variant.Text">Orders</MudButton>
    <MudButton Href="/Stores" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("Stores")" Variant="Variant.Text">Stores</MudButton>
    <MudButton OnClick="@(async () => await Dialog.ShowAsync<ReportDialog>(""))" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("reports")" Variant="Variant.Text">Reports</MudButton>
    <MudSpacer/>
    <ConnectionBar/>
    <AppBarButtons/>    
</MudHidden>
