@using Client.Pages.Reports

<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudIconButton OnClick="DrawerToggleCallback" Icon="@Icons.Material.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start"/>
    <MudSpacer/>
    <NavLink ActiveClass="d-flex" href="/">
        <AppIcon/>
    </NavLink>    
    <MudSpacer/>
    <ConnectionBar/>    
</MudHidden>
<MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
    <NavLink ActiveClass="d-flex me-4" href="/">
        <AppIcon />
@*         <MudText Color="Color.Primary" Typo="Typo.h5" Class="docs-brand-text">
            AlKaita G.E 
        </MudText> *@
    </NavLink>
    <AuthorizeView Roles="Admin, Master">
        <MudButton Href="/dashboard" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("dashboard")" Variant="Variant.Text">Dashboard</MudButton>
        <MudMenu @ref="_menuCustomers" Color="Color.Inherit" Variant="Variant.Text" Class="mx-1 px-3" PopoverClass="docs-layout-menu-shadow" ListClass="d-flex px-4 pb-2 docs-appbar-special-menu" LockScroll="true" Label="Customers" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
            <MudList Clickable="true">
                <MudListItem OnClick="@(() => Nav("customers", "customers"))">
                    <div class="d-flex">
                        <MudText Color="Color.Primary">Customers</MudText>
                    </div>
                    <MudText Typo="Typo.body2">Manage Customers</MudText>
                </MudListItem>
                <MudListItem OnClick="@(() => Nav("referers", "customers"))">
                    <div class="d-flex">
                        <MudText Color="Color.Dark">Referers</MudText>
                    </div>
                    <MudText Typo="Typo.body2">Manage Referers</MudText>
                </MudListItem>
            </MudList>
        </MudMenu>
        <MudMenu @ref="_menuCP" Color="Color.Inherit" Variant="Variant.Text" Class="mx-1 px-3" PopoverClass="docs-layout-menu-shadow" ListClass="d-flex px-4 pb-2 docs-appbar-special-menu" LockScroll="true" Label="Items" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
            <MudList Clickable="true">
                <MudListItem OnClick="@(() => Nav("categories", "items"))">
                    <div class="d-flex">
                        <MudText Color="Color.Secondary">Categories</MudText>
                    </div>
                    <MudText Typo="Typo.body2">Manage Categories</MudText>
                </MudListItem>
                <MudListItem OnClick="@(() => Nav("items", "items"))">
                    <div class="d-flex">
                        <MudText Color="Color.Surface">Products</MudText>
                    </div>
                    <MudText Typo="Typo.body2">Manage Products</MudText>
                </MudListItem>                
            </MudList>
            <MudList Clickable="true" Class="relative">
                <MudListItem OnClick="@(() => Nav("products", "items"))">
                    <div class="d-flex">
                        <MudText Color="Color.Primary">Stocks</MudText>
                    </div>
                    <MudText Typo="Typo.body2">Manage Stock</MudText>
                </MudListItem>
                <MudListItem OnClick="@(() => Nav("charges", "items"))">
                    <div class="d-flex">
                        <MudText Color="Color.Warning">Charges</MudText>
                    </div>
                    <MudText Typo="Typo.body2">Manage Charges Fee</MudText>
                </MudListItem>
            </MudList>
        </MudMenu>
        <MudButton Href="/services" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("services")" Variant="Variant.Text">Services</MudButton>
        <MudButton Href="/orders" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("orders")" Variant="Variant.Text">Billing</MudButton>
        <MudButton Href="/Stores" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("Stores")" Variant="Variant.Text">Stores</MudButton>
        <MudButton Href="/users" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("users")" Variant="Variant.Text">Users</MudButton>
        <MudButton OnClick="@(async () => await Dialog.ShowAsync<ReportDialog>(""))" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("reports")" Variant="Variant.Text">Reports</MudButton>
    </AuthorizeView>
    <AuthorizeView Roles="Seller">
        <MudButton Href="/orders" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("orders")" Variant="Variant.Text">Billing</MudButton>
    </AuthorizeView>
    <AuthorizeView Roles="Cashier">
        <MudButton Href="/billverification" Color="Color.Inherit" Class="@LayoutService.GetActiveLinkClass("billverification")" Variant="Variant.Text">Verify Receipt</MudButton>
    </AuthorizeView>
    <MudSpacer/>
    <ConnectionBar/>
    <AppBarButtons/>    
</MudHidden>
