@attribute [Authorize]

<MudGrid>
    @if (IsLoading)
    {
        <MudItem xs="12" sm="3" md="3">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="100px;" />
        </MudItem>
        <MudItem xs="12" sm="3" md="3">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="100px;" />
        </MudItem>
        <MudItem xs="12" sm="3" md="3">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="100px;" />
        </MudItem>
        <MudItem xs="12" sm="3" md="3">
            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="100px;" />
        </MudItem>
    }
    else
    {
        <MudItem xs="12" sm="3" md="3">
            <MudPaper Class="d-flex flex-row pt-6 pb-4" Style="height:100px;" Outlined="true">
                <MudIcon Icon="@Icons.Material.Filled.OtherHouses" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div style="width:100%;">
                    <MudText Typo="Typo.h6" Class="mud-text-secondary mb-n1">Stores</MudText>
                    <MudText Class="d-flex justify-end pa-3" Typo="Typo.h6">@branch</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="3" md="3">
            <MudPaper Class="d-flex flex-row pt-6 pb-4" Style="height:100px;" Outlined="true">
                <MudIcon Icon="@Icons.Material.Filled.PeopleOutline" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div style="width:100%;">
                    <MudText Typo="Typo.h6" Class="mud-text-secondary mb-n1">Sales</MudText>
                    <MudText Class="d-flex justify-end pa-3" Typo="Typo.h6">@employees</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="3" md="3">
            <MudPaper Class="d-flex flex-row pt-6 pb-4" Style="height:100px;" Outlined="true">
                <MudIcon Icon="@Icons.Material.Filled.PeopleOutline" Color="Color.Tertiary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div style="width:100%;">
                    <MudText Typo="Typo.h6" Class="mud-text-secondary mb-n1">Customers</MudText>
                    <MudText Class="d-flex justify-end pa-3" Typo="Typo.h6">@customers</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="3" md="3">
            <MudPaper Class="d-flex flex-row pt-6 pb-4" Style="height:100px;" Outlined="true">
                <MudIcon Icon="@Icons.Material.Filled.Category" Color="Color.Error" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div style="width:100%;">
                    <MudText Typo="Typo.h6" Class="mud-text-secondary mb-n1">Products</MudText>
                    <MudText Class="d-flex justify-end pa-3"Typo="Typo.h6">@products</MudText>
                </div>
            </MudPaper>
        </MudItem>
    }
</MudGrid>
@code {
    [Parameter, EditorRequired] public bool IsLoading { get; set; } = false;
    [Parameter, EditorRequired] public int customers { get; set; } = 0;
    [Parameter, EditorRequired] public int products { get; set; } = 0;
    [Parameter, EditorRequired] public int employees { get; set; } = 0;
    [Parameter, EditorRequired] public int branch { get; set; } = 0;    

}